/*navbar code*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap');
.menu {
  position: relative;
  width: 90%;
  z-index: 9999;
}

.my-navbar {
  width: 100%;
  padding: 10px 20px;
  background-color: white;
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 999;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.nav-item .nav-link {
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0px 10px;
  position: relative;
  color: black;
}

.nav-item .nav-link:before {
  position: absolute;
  left: 0;
  content: '';
  bottom: 0;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: left;
  background-color: #009970;
  transition: 0.5s;
}

.nav-item .nav-link:hover:before {
  transform: scaleX(1);
  transform-origin: right;
}
.navbar-brand {
  text-transform: capitalize;
  font-size: 35px;
  color: #2f3542;
  font-style: italic;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}

.navbar-scroll {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: whitesmoke !important;
  padding: 0px 20px;
  transition: 0.5s;
  animation: scroll 0.6s 1;
}

@keyframes scroll {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.nav-item .active {
  color: #009970;
}

.custom-toggler.navbar-toggler {
  border-color: #009970;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 128, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar {
  padding: 0.8ren;
  position: relative;
  width: 100%;
  z-index: 9999;
  background: whitesmoke;
}
.navbar-nav li {
  padding: 3px;
}

.nav-link {
  font-size: 1.2em !important;
}
.nav-link li:hover {
  background-color: black;
}

.nav-item .nav-link:after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 100%;
  height: 1px;
  transform: scaleX(0);
  transition: 0.5s;
  content: '';
  transform-origin: left;
  background-color: white;
}
.nav-item .nav-link:hover after {
  transform-origin: right;
  transform: scaleX(1);
}

.navbar-scroll {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0px 20px;
  transition: 0.5s;
  animation: scroll 0.6s 1;
}

@keyframes scroll {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
.navbar-brand {
  text-transform: capitalize;
  font-size: 35px;
  color: black;
}

/*navbar code*/

/* --------------------------------------------------------------------------------- */

/* footer code start */

footer {
  background-color: #3f3f3f;
  color: white;
  padding: 2rem;
  color: #444444;
  font-size: 14px;
  background: #d4d4d4;
  height: fit-content;
}

footer a {
  color: #d5d5d5;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: 'Raleway', sans-serif;
  color: #777777;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #009970;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #00805d;
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .footer-contact{
    text-align: center;
  }
}

.copyright {
  text-align: center;
  margin-bottom: 0;
}

.copyright a {
  text-decoration: none;
  color: red;
  font-weight: bold;
}

/* footer code ends */
