@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body {
    width: 100%;
  }
}

html,
body {
  height: 100%;
  width: 100%;
  color: #222;
}
/* utility class*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
}
body {
  font-family: 'Open Sans', sans-serif;
  color: #444444;
}

a {
  color: #009970;
}

a:hover {
  color: #009970;
  text-decoration: none;
}
/*------------------top button csss---------------------------*/
#topbtn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        border: 1px solid #009970;
        outline: none;
        background-color: white ;
        color: #009970;
        cursor: pointer;
        border-radius: 50%;
        font-size: 18px;
      }
      #topbtn:hover{
        background-color: #009970;
        color: #fff;
      }
#whatsapp {
  display: none;
        position: fixed;
        bottom: 60px;
        right: 30px;
        z-index: 99;
        border: 1px solid #009970;
        outline: none;
        background-color: white ;
        color: #009970;
        cursor: pointer;
        border-radius: 50%;
        font-size: 18px;
}
#whatsapp:hover{
  background-color: #009970;
  color: #fff;
}
/* ----------------------------------------------------------------------------------------------------------------- */
/*------------- ABout us page css ---------------------*/

/*smoothing scroll */
* {
  scroll-behavior: smooth;
}

/*scroll bar effect*/
::-webkit-scrollbar {
  width: 12px;
  background: #f6f6f7;
  border-radius: 10px;
  border: 1px solid white;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #009970;
}

/*about us cover */
/* .about-cover-img {
  height: 750px;
  background-image: url('../images/main.jpeg');
  background-attachment: fixed;
  background-size: cover;
} */

/*about us heading text*/
.about h2 {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
}
.green-hr {
  width: 50px;
  display: block;
  height: 2px;
  background: #009970;
}

/*green cards  */
.about .icon-box {
  text-align: center;
  padding: 40px 20px;
  transition: all ease-in-out 0.3s;
  background: #009970;
}

.about .icon-box h4 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px;
}

.about .icon-box h4 a {
  color: #fff;
  transition: ease-in-out 0.3s;
}

.white-hr {
  width: 50px;
  display: block;
  height: 2px;
  background: #fff;
}

.about .icon-box p {
  font-size: 14px;
  color: #fff;
}

.about .icon-box:hover {
  border-color: #009970;
  box-shadow: 0px 0 25px 0 black;
}

.about .icon-box:hover h4 a {
  color: #fff;
}

/*Trpws team  section*/
.carousel-cell {
  width: 100%; /* full width */
  height: 450px;
}

/* Admin Section */
.admin-section {
  text-align: center;
}
.admin-button {
  margin-top: 3rem;
}
section {
  margin: 0 2rem;
}

@media screen and (min-width: 768px) {
  /* half-width cells for larger devices */
  .carousel-cell {
    width: 33%;
  }
}
.about-name {
  padding-top: 10px;
}

/*flip card part*/

.about-flip-card {
  perspective: 1000px;
  border-radius: 10px;
}

.about-flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #009970;
  background-color: #009970;
}

.about-flip-card:hover .about-flip-card-inner {
  cursor: pointer;
  transform: rotateY(180deg);
}

.about-flip-card-front,
.about-flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.about-flip-card-front {
  font-variant: small-caps;
  color: black;
}

.about-flip-card-back {
  color: black;
  transform: rotateY(180deg);
  padding: 10px;
  text-align: justify;
  font-variant: small-caps;
}

[class*='col-'] {
  padding: 1rem;
}

/*------------- ABout us page css end---------------------*/
/* ----------------------------------------------------------------------------------------------------------------- */
/*--------------------------Internship page css-----------*/

/*internship cover */
.internship-head{
  background-color: beige;
}
.internship h2 {
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  text-align: center;
}
.internship-green-hr {
  width: 60px;
  display: block;
  height: 2px;
  background: #009970;
}

/*form part*/
#internshipform{
  width: 350px;
}


.internship label {
  font-size: 20px;
  font-weight: bold;
}
.internship input,
#internship-option,
.internship textarea {
  border: 1px solid #000;
  background-color: gainsboro;
}
/*resume upload button style*/
.internship input[type='file']::-webkit-file-upload-button {
  font-size: small;
  color: #009970;
  font-weight: bold;
  background-color: white;
  border:1px solid #009970;
  border-radius: 5px;
}
.internship input[type='file']::-ms-browse  {
  font-size: small;
  color: #009970;
  font-weight: bold;
  background-color: white;
  border:1px solid #009970;
  border-radius: 5px;
}
.internship input[type='file']::-webkit-file-upload-button:hover {
  color: white;
  background-color:#009970;
}
.internship input:focus,
#internship-option:focus,
.internship textarea:focus {
  box-shadow: 2px 2px 2px 2px #009970 !important ;
}
.internship button {
  border-color: #009970 !important ;
  color: #009970 !important;
  font-weight: bold;
}
.internship button:hover {
  background-color: #009970 !important ;
  color: #fff !important;
}

/*--------------------------Internship page css end-----------*/

/* volunteer page css start*/
/* .cover-img {
  height: 750px;
  background-image: url('../images/main.jpeg');
  background-attachment: fixed;
  background-size: cover;
} */

.img {
  width: 100%;
  height: 50%;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-caption h1 {
  font-size: 250%;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px #000;
}

.carousel-caption h3 {
  font-size: 200%;
  font-weight: 100;
  text-shadow: 1px 1px 10px #000;
  padding-bottom: 1rem;
}

.btn {
  font-size: 90%;
}

.btn-primary {
  background-color: #009970;
  border: 1px solid #009970;
}

.btn-primary:hover {
  background-color: #ffff;
  border: 1px solid #009970;
  color: #009970;
}

.jumbotron {
  padding: 1rem;
  border-radius: 0;
}

.welcome {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}

.welcome hr {
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
}

.fa-money {
  color: red;
}
.fa-university {
  color: #562d7c;
}
.fa-times {
  color: #2163af;
}
.fa-money,
.fa-university,
.fa-times {
  font-size: 4em;
  margin: 1rem;
}

.fun {
  width: 100%;
  margin-bottom: 2rem;
}

.gif {
  max-width: 100%;
}

.img1 {
  width: 330px;
  padding: 10px;
  filter: grayscale(0);
  transition: 1s;
  display: inline-block;
}
.img1:hover {
  opacity: 0.5;
}

.content {
  position: absolute;
  font-size: 0px;
  top: 45%;
  left: 50%;
}

.content btn2 {
  position: absolute;
  padding: 10px 10px;
  display: block;
}
.content span:nth-child(4) {
  top: 0;
  left: -50%;
  width: 50%;
  height: 1pxl;
  background: linear-gradient(90deg, trasparent, black);
}
.content:hover span:nth-child(4) {
  left: 50%;
  transition: 1s;
}

.anim:hover > .content {
  font-size: 30px;
  font-family: unset;
  text-align: center;
  padding: 10px 10px;
  top: 35%;
  left: 34%;
  display: block;
  position: absolute;
  color: white;
  background: black;
  box-shadow: 0 0 10px black, 0 0 40px black, 0 0 80px black;
  transition: 1s;
}

.anim:hover > .content btn2 {
  font-size: 10px;
  display: block;
  cursor: pointer;
}

.card-img-top1 {
  height: 165px;
}
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f6f6f7;
}

.section-title {
  padding-bottom: 30px;
  
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #009970;
  bottom: 0;
  left: 0;
}
.section-title-new h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #009970;
  bottom: 0;
  left: 511px;
}


.section-title p {
  margin-bottom: 0;
}

.services .icon-box {
  text-align: center;
  padding: 40px 20px;
  transition: all ease-in-out 0.3s;
  background: #fff;
}

.services .icon-box .icon {
  margin: 0 auto;
  width: 64px;
  height: 64px;
  border-radius: 50px;
  border: 1px solid #009970;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transition: ease-in-out 0.3s;
  color: #009970;
}

.services .icon-box .icon i {
  font-size: 28px;
}

.services .icon-box h4 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px;
}

.services .icon-box h4 a {
  color: #36343a;
  transition: ease-in-out 0.3s;
}

.services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.services .icon-box:hover {
  border-color: #fff;
  box-shadow: 0px 0 20px 0 rgba(0, 0, 0, 0.9);
}

.services .icon-box:hover h4 a {
  color: #009970;
}

.services .icon-box:hover .icon {
  color: #fff;
  background: #009970;
}

hr.light {
  border-top: 1px solid white;
  width: 75%;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}

/* Volunteer Page css ends */
hr.light-100 {
  border-top: 1px solid white;
  width: 100%;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}

.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.4s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0 !important;
}

/* Volunteer Page css ends */
/* ----------------------------------------------------------------------------------------------------------------- */
/*---------------project aahar css----------------------*/
.donate-btn{
  border-color: #009970 !important ;
  color: white !important;
  font-weight: bold;
  background-color: #009970;
}

.donate-btn:hover {
  background-color: white !important ;
  color: #009970 !important;
}
/*donation form part*/
.donation form{
  width: 350px;
}
.donation .container{
  box-shadow: 10px 20px 20px #777777;
}
.donation h4 {
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
}
.donation-green-hr {
  width: 20%;
  display: block;
  height: 2px;
  background: #009970;
}
.donation label {
  font-size: 20px;
  font-weight: bold;
}
.donation input,
#donation-option
{
  border: 1px solid #000;
  background-color: gainsboro;
}

.donation input:focus,
#donation-option:focus{
  box-shadow: 2px 2px 2px 2px #009970 !important ;
}
.donation button {
  border-color: #009970 !important ;
  color: #009970 !important;
  font-weight: bold;
}
.donation button:hover {
  background-color: #009970 !important ;
  color: #fff !important;
}

.pay-don {
  margin: 0 auto;
}

.pay-img {
  text-align: center;
}
/*---------------project aahar css end---------*/

/*Contact us page css*/
/*details part*/

.contact h2 {
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  text-align: center;
}
.contact-green-hr {
  width: 60px;
  display: block;
  height: 2px;
  background: #009970;
}
.contact a {
  color: #009970;
  font-weight: bold;
}
.contact-h4 {
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
}
.line {
  border: 1.2px solid #000;
}
/*form part*/
.contact label {
  font-size: 20px;
  font-weight: bold;
}
.contact input,
.contact textarea {
  border: 1px solid #000;
  background-color: gainsboro;
}

.contact input:focus,
.contact textarea:focus {
  box-shadow: 2px 2px 2px 2px #009970 !important ;
}
.contact button {
  border-color: #009970 !important ;
  color: #009970 !important;
  font-weight: bold;
}
.contact button:hover {
  background-color: #009970 !important ;
  color: #fff !important;
}
/*social media part*/
.social-icon {
  font-size: 3.2em;
  text-align: center;
}

.sm-bttn {
  display: block;
  width: 80px;
  height: 80px;
  background: #f1f1f1;
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  overflow: hidden;
  position: relative;
}
.sm-bttn i {
  line-height: 90px;
  font-size: 24px;
  transition: 0.2s linear;
}

.sm-bttn:hover .fa-facebook-f {
  transform: scale(1.3);
  color: white;
}
.sm-bttn:hover .fa-linkedin-in {
  transform: scale(1.2);
  color: white;
}
.sm-bttn:hover .fa-youtube {
  transform: scale(1.3);
  color: white;
}
.sm-bttn:hover .fa-instagram {
  transform: scale(1.3);
  color: white;
}
.sm-bttn:hover .fa-twitter {
  transform: scale(1.3);
  color: white;
}

.sm-bttn::before {
  content: '';
  position: absolute;
  width: 120%;
  height: 120%;
  background-color: #009970;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}

.sm-bttn:hover::before {
  animation: sm-am 0.7s 1;
  top: -10%;
  left: -10%;
}

@keyframes sm-am {
  0% {
    top: 90%;
    left: -110%;
  }
  50% {
    top: -30%;
    left: 10%;
  }
  100% {
    top: -10%;
    left: -10%;
  }
}
/*Contact Us Page CSS ends*/


/*--------------------------Login page css-----------*/

.form-section {
  width: 50%;
  margin: 3rem auto;
}







/*--------------------------Login page css end-----------*/


/* ----------------------------------------------------------------------------------------------------------------- */
