{% include "header.html" %}

<!--cover image-->
<div class="about-cover-img">
</div>
<!--cover image end-->


<!--About us heading text-->    
<section class="text-center">
        <div class="about">
            <h2>ABOUT US<hr class="green-hr"></h2>
        </div>
</section>
<!--About us heading text end-->


<!--green CARDS-->
<section class="about section-bg">
    <div class="container">

      <div class="row ">

        <div class="col-md-4 col-sm-6 col-xs-12 "  >
            <div class="about-wrap text-center" >
              <div class="icon-box" data-aos="fade-right" data-aos-easing="ease-in-sine" data-aos-delay="100">
                <h4><a>Mission<hr class="white-hr"></a></h4>
                <p style='margin-bottom: 58px;'>To reach out as many people as possible and make a difference in their life. Our mission is to make their inner self happy. We want to bring a change in society by trying to eliminate the discrimination based on privilege by birth and not hard work and talent.</p>
              </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12 ">
            <div class="about-wrap">
              <div class="icon-box" data-aos="zoom-in"  data-aos-easing="ease-in-sine" data-aos-delay="100">
                <h4><a>Values<hr class="white-hr"></a></h4>
                <p style='text-align: left;padding-left: 10px;'>
                  • Transparency<br>
                  • Respect for human rights<br>
                  • No Discriminatory<br>
                  • Commitment<br>
                  • Integrity<br>
                  • No personal benefit<br>
                  • Secular, Non-Political and Non-Religious<br>
                  • See potential in every poor child<br>
                  </p>
              </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 ">
            <div class="about-wrap text-center">
              <div class="icon-box" data-aos="fade-left"  data-aos-easing="ease-in-sine" data-aos-delay="100">
                <h4><a>Vision<hr class="white-hr"></a></h4>
                <p>To make this world a better place for unprivileged people by providing them whatever required to our full potential. We believe that talent and skills are god’s gift and are product of hard work and not birth. To fill the society with individuals   who has the power of differentiating between what is good and bad for them as well as the society.</p>
              </div>
            </div>
        </div>
          </div>
        </div>
</section>
<!--green CARDS  end-->

<section class="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="section-title" data-aos="fade-right"  data-aos-easing="ease-in-sine" data-aos-delay="100">
          <h2>About Us</h2>
        </div>
      </div>
      <div class="col-lg-8 justify-content-center" data-aos="fade-left"  data-aos-easing="ease-in-sine" data-aos-delay="100">
        <p>A voluntary organization named Grand Mother Educational and Philosophical Development Society was established in the year 2006 with some friends with the determination to contribute to the welfare of society and to contribute to those who are facing various kinds of difficulties in society without backing down at a time when the time is passing by with poverty.</p>
      </div>
    </div>
  </div>
</section>

<!--Our approach (our story) section-->
<section class="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="section-title" data-aos="fade-right"  data-aos-easing="ease-in-sine" data-aos-delay="100">
          <h2>Our approach</h2>
        </div>
      </div>
      <div class="col-lg-8 justify-content-center" data-aos="fade-left"  data-aos-easing="ease-in-sine" data-aos-delay="100">
        <p>We reach out to children and make them interact with young people from universities and teach them in a friendly way so as to provide them with a family environment for learning, make them understand our culture and hardships they need to overcome in the journey of their life.Our main motives are making children aware of the current scenario in which the world exists and train them to overcome the taboos of society. We also make them aware of the social issues they are in and how to make it a betterplace for them to survive and grow.A well defined smile is what we care for and try to achieve with our constant approach.</p>
      </div>
    </div>
  </div>
</section>
<!--Our approach (our story) section end-->



{% include "footer.html" %}