
<!--------------------------------- footer ------------------------------------------>
<footer id="footer">
    <div class="footer-top pb-4">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-6 footer-contact" style="height:200px">
                     <img style="width: auto;height: 200px;" src="../static/images/PNG.png">
              </div>
                     <div class="col-lg-4 col-md-6 footer-contact" style="height: 200px">
                    <h3 style="color: #009970"><b>Spoorthy Organization</b></h3>
                       <p><a href="https://goo.gl/maps/KEe52NBZfcnS2Nce6 " target="_blank" style="color: #777777;">
                        H-NO 11-1/A, EDULABAD ROAD,<br>
                        GHATKESAR MUNICAPAL,<br>
                        MEDCHAL-MALKAJGIRI DISTRICT,<br>
                        TELANGANA 501301<br>
                        </a>
                        
                        <strong>Phone:</strong> <a href="tel:+919533497259" style="color: #777777;">+91 9533497259</a><br>
                        
                        <strong>Email:</strong> <a href="mailto:spoortyorganization1@gmail.com" style="color: #777777;">spoortyorganization1@gmail.com</a><br>
                    </p>
                </div>
            <div class="col-lg-4 pt-4 mt-2">
            <div class="social-links text-center text-md-right pt-3 pt-md-0">
                <a href="#" class="twitter" target="_blank"><i
                        class="bx bxl-twitter"></i></a>
                <a href="https://m.facebook.com/spoorthyorg" class="facebook" target="_blank"><i
                        class="bx bxl-facebook"></i></a>
                <a href="https://www.instagram.com/spoorthyorg/" class="instagram" target="_blank"><i
                        class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"
                    target="_blank"><i class="bx bxl-youtube"></i></a>
            </div>
        </div>
    </div>
            </div>
        </div>
        <hr>
        <p class="copyright">All Rights Reserved by <strong>Spoorthy Organization!!</strong>. Website designed by <a href="https://weblaunch.in/" target="_blank">Weblaunch</a></p>
</footer>
<button onclick="topFunction()" id = "topbtn" ><i class="fa fa-arrow-up" aria-hidden="true"></i></button>
<button onclick="window.open('https://api.whatsapp.com/send/?phone=919533497259&text&type=phone_number&app_absent=0', '_blank')" id="whatsapp" ><i class="bx bxl-whatsapp"></i></button>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>

<!-- navbar animation -->
<script>
$(document).ready(function () {
$(window).scroll(function () {
  if(window.innerWidth>770){
    if ($(window).scrollTop() > 60) {
      $('.my-navbar').addClass('navbar-scroll');
    }
    else {
      $('.my-navbar').removeClass('navbar-scroll');
      }
  }
});
});
</script>
<!--back to top btn-->
<script type="text/javascript">
  myButton = document.getElementById("topbtn");
  whatsappBtn = document.getElementById("whatsapp");
  window.onscroll = function() {scrollfunction()};
  function scrollfunction() {
    if(document.body.scrollTop  > 40 || document.documentElement.scrollTop > 40) {
      myButton.style.display = "Block";
      whatsappBtn.style.display = "Block";
    } else {
      myButton.style.display = "none";
      whatsappBtn.style.display = "none";
    }
  }
  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }
</script>

<!--aos js link-->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>    
<script>AOS.init();</script>    
</body>

</html>