{% include "header.html" %}

  <!-- Carousel -->
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active cover-img">
      </div>
    </div>
  </div>

  <!-- body text -->
  <section class="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="section-title" data-aos="fade-right">
            <h2>Opportunities at Spoorthy Organization</h2>
          </div>
        </div>
        <div class="col-lg-8 justify-content-center" data-aos="zoom-in" data-aos-delay="100">
          <p>Our NGO provides opportunities for young minds to get involved in social work, explore the cause of social
            backwardness and learn skills in the field of HR, PR, content writing, social media marketing and teaching.
            It is for a minimum period of six weeks, and if you wish you can continue working for more, and incentive
            will be provided based on that. It’s a unique opportunity provided to young people to do social service as
            well as learn new skills. This is an NGO where young minds are involved and everyone is given equal
            opportunity to put forth their ideas and are appreciated for that.</p>
          <p>We offer you a wide variety of work that skilled or unskilled interns can do.</p>
          <p>This is a Recognised NGO and provides work experience which involves acquiring skills described before and
            some unseen skills which get embedded in you as you work with the NGO.</p>
        </div>
      </div>
    </div>
  </section>

  

  <!-- cards -->
  <section class="services section-bg">
    <div class="container">

      <div class="row">
        <div class="col-lg-12 col-md-6" >
          <div class="section-title-new"  style="text-align: center;"  data-aos="fade-right">
            <h2>Fields</h2>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="row">
            <div class="col-md-4 d-flex align-items-stretch">
              <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon"><i class="fas fa-desktop fa-lg"></i></div>
                <h4><a href="">Web Development</a></h4>
                <p>Develop and update our website on a regular basis, with coordination. Coordinating with content
                  writers and graphic designers. Making things more appealing for the visitors of the site by making it
                  easily accessible and interesting.</p>
              </div>
            </div>

            <div class="col-md-4 d-flex align-items-stretch mt-4 mt-lg-0">
              <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon"><i class="fas fa-paint-brush fa-lg"></i></div>
                <h4><a href="">Graphic Designing</a></h4>
                <p>Design graphics such as carousel, images and infographics for the website and for event marketing.
                  Designing graphics which can be published in social media sites.</p>
              </div>
            </div>

            <div class="col-md-4 d-flex align-items-stretch mt-4 mt-lg-0">
              <div class="icon-box"  data-aos="zoom-in" data-aos-delay="300">
                <div class="icon "><i class="fas fa-pencil-alt fa-lg "></i></div>
                <h4><a href="">Content Writing</a></h4>
                <p>To write content for the website in accordance with the web developer and graphic designer. Providing
                  captions for different posters that are posted in various social media platforms.</p>
              </div>
            </div>

            <div class="col-md-4 d-flex align-items-stretch mt-4 ">
              <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon"><i class="fas fa-lightbulb fa-lg "></i></div>
                <h4><a href="">Creative Department</a></h4>
                <p>This is the department which helps making things more appealing to the audience by reading the
                  thought process of the viewers and the reaction they receive. This department requires creative and
                  predictive thinking. This improvises the way people work and see things around. Making something out
                  of nothing with a worth.</p>
              </div>
            </div>

            <div class="col-md-4 d-flex align-items-stretch mt-4">
              <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon"><i class="fas fa-book fa-lg"></i></div>
                <h4><a href="">Teaching</a></h4>
                <p>Our NGO lends opportunity for people who want to teach children and give them experience that is
                  required to get them into the crowd. It is a great opportunity as people teach children who cannot
                  afford to study in schools with high fees. With this we are helping the next generation of youth to be
                  more experienced than the current generation in experience and knowledge wise.</p>
              </div>
            </div>

            <div class="col-md-4 d-flex align-items-stretch mt-4">
              <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon"><i class="fas fa-handshake fa-lg"></i></div>
                <h4><a href="">Public Relation</a></h4>
                <p>Managing the relation between the NGO and the public. Making the relationship as thin transparent as
                  possible by good communication. and using Convincing public people to donate and sponsor for the NGO.
                </p>
              </div>
            </div>

            <div class="col-md-4 d-flex align-items-stretch mt-4">
              <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon"><i class="fas fa-users fa-lg"></i></div>
                <h4><a href="">Human Resource</a></h4>
                <p>Making the workforce of the NGO. Managing the intake of children and interns. Providing resources to
                  the NGO for various activities that it undertakes. Managing and controlling the workforce, economy and
                  activities of the NGO.</p>
              </div>
            </div>

            <div class="col-md-4 d-flex align-items-stretch mt-4">
              <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon"><i class="fas fa-mobile-alt fa-lg"></i></div>
                <h4><a href="">Social Media Marketing</a></h4>
                <p>Marketing of the events organised by the NGO in various social media platforms where the NGO is
                  active. Providing captions for the photos to be uploaded in the sites.</p>
              </div>
            </div>

            <div class="col-md-4 d-flex align-items-stretch mt-4">
              <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon"><i class="fas fa-camera fa-lg"></i></div>
                <h4><a href="">Photography</a></h4>
                <p>Photography is one of the creative department which captures memories and frames them to everyone’s
                  life the NGO has touched. This department requires photography skills and a different unique way of
                  thinking and imagining. This helps increase your thinking capacity and helps you explore the new realm
                  of ideas that can make the world around you beautiful.</p>
              </div>
            </div>


          </div>
        </div>
      </div>

    </div>
  </section>

  <style>
    .img-fluid{
      width: 200px;
      height: 200px;
    }
    @media (max-width: 768px) {
      .register{
        text-align: center;
      }
      .register .section-title{
        text-align: left;
      }
    }
  </style>

  <section class="services register">
    <div class="container">
      <div class="row ">
        <div class="col-lg-4">
          <div class="section-title" data-aos="fade-right">
            <h2>Registration</h2>
          </div>
        </div>
        <div class="col-lg-4 justify-content-center" data-aos="zoom-in" data-aos-delay="100">
          <p><strong> To join us <a href="https://forms.gle/rwVwqFbY5VwLb1Zi8" target="_blank" class="btn btn-primary">Click here!</a></strong></p>
        </div>
        <div class="col-lg-4 " data-aos="fade-up" >
          <img src="{{ url_for('static', filename='images/1.png') }}" class="img-fluid" alt="joinUs">
      </div>
      </div>
    </div>
  </section>


  <!---------footer---------->
  {% include "footer.html" %}